{% ckan_extends %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
    	<h1 class="page-heading">
    		{% block page_heading %}
    			{{ _('Login') }}
    		{% endblock %}
    	</h1>
      <fieldset>
        <legend><h4>{{ _('Log in with your Social Media account') }}</h4></legend>
        <div class="login-box">
          <a href="#" class="social-button" id="facebook-btn" onclick="fb_login();"> <span>Sign in with Facebook</span></a>
          &nbsp;&nbsp;
          <a class="google-btn social-button " id="g-signin-button"> <span>Sign in with Google</span></a>
          <a class="github-btn social-button " id="github-button" onclick="login()"> <span>Sign in with Github</span></a>
          &nbsp;&nbsp;
          <a class="social-button" id="linkedin-btn" onclick="liAuth()"> <span>Sign in with LinkedIn</span></a>
        </div>
      </fieldset>
      <br><br>
    </div>
  </section>
{% endblock %}
